@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mulish/v5/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNRwaM.woff) format('woff');
  }
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mulish/v5/1Ptyg83HX_SGhgqO0yLcmjzUAuWexXRWwaM.woff) format('woff');
  }
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mulish/v5/1Ptyg83HX_SGhgqO0yLcmjzUAuWexTpWwaM.woff) format('woff');
  }

  .afterheader{
    position: relative; top: 3px;
  }
  .beforbanner{
    height:100px;
  }

  .site-navbar{
    width: 1349px; position: fixed; top: 0px; z-index: inherit;
  }
  